.addNoteLabel{
    font-size: 25px;
    font-family:'Times New Roman', Times, serif
}

.addNoteInput{
    width: 300px;
    height: 30px;
    margin-right: 8px;
}

.addnoteWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 53px;
}

.addnoteMiniContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0px 70px;
    align-items: center;
    flex-wrap: wrap;
}

.addNoteButton{
    background-color: green;
    color: white;
    padding: 5px;
    margin-left: 25px;
    cursor: pointer;
}

.addnotecombo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

@media only screen and (max-width: 1000px) {
    .addnoteMiniContainer{
        padding: 0px;
        flex-wrap: wrap;
        margin-left: 20px;
    }
    /* .addNoteLabel{
        display: none;
    } */
    .addNoteInput{
        margin-left: 15px;
        margin-bottom: 15px;
        height: 40px;
    }
    .addNoteButton{
        margin-left: 120px;
        padding: 10px;
        margin-top: 15px;
    }
    .fileinput{
        margin-left: 10px;
    }
  }