.notesContainer{
    display: flex;
    flex-wrap: wrap;
    padding: 35px;
    justify-content: center;
}

.notesIndividualContainer{
    margin: 10px;
    padding: 10px;
    height: 160px;
    width: 330px;
    background-color: yellow;
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
}

.notesTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.noteContent{
    font-size: 17px;
    padding: 5px;
    height: 60px;
    overflow: hidden;

}
.noteTitle{
    font-size: 20px;
}



.homepageMiddle{
    margin-bottom: 15px;
}
.notesMiddle{
    height: 70px;
}
.notesBottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
}

.editButton{
    background-color: blue;
    padding: 4px;
    margin-left: 10px;
    color: wheat;
    cursor: pointer;
    text-decoration: none;
}

.deleteButton{
    background-color: red;
    padding: 4px;
    margin-left: 10px;
    color: wheat;
    margin-right: 5px;
    cursor: pointer;
}

.notesSearch{
    width: 400px;
    height: 40px;
    border-radius: 10px;
    margin-left: 500px;
    margin-top: 25px;
}



.pagination{
    display: flex;
    justify-content: center;
}

.pageItem{
    list-style-type: none;
    border: 1px solid black;
    margin: 0px 10px;
    padding: 5px;
}

.pageLink{
    text-decoration: none;
}
.pageLink.active{
    color: red;
}

.homePageBottom{
    height: 480px;
}

.viewButton{
    background-color: green;
    color: wheat;
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
}

.noteContent::first-letter{
    margin-left: 28px;
}
